.full-container {
  background-color: #5c85d6;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 40vw;
  height: 95vh;
  justify-content: center !important;
  flex-direction: column !important;
  align-content: center;
  align-items: normal;
  border-radius: 3vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly !important;
}

h3 {
  text-align: initial;
  padding-left: 5vh;
  line-height: 1.8;
  font-family: "Franklin Gothic Medium";
}

p {
  text-align: initial;
  padding-left: 5vh;
  line-height: 1.8;
}

.line {
  border-top: 0.3vh solid black;
}

.col {
  padding-left: 6vh;
}

.col:last-child {
  padding-right: 5vh;
}

.Email-input,
.password-input,
.Cpassword-input {
  width: 100% !important;
  padding-left: 4vh !important;
  padding-right: 3vh;
}

.record-input {
  width: 100%;
  padding-left: 4vh !important;
  padding-right: 3vh !important;
  text-align: initial;
  display: flex !important;
  word-spacing: 0.5vh;
  justify-content: space-around;
  overflow: hidden;
  white-space: nowrap;
}

.text-left {
  display: flex;
  padding-left: 5vh !important;
}
.button {
  width: 7rem;
  height: 3.01rem;
  font-family: "Arial black";
  background-color: #5c85d6;
}
